{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="card shadow">
                    <div class="card-body p-4">
                        <h1>Register</h1>

                        {{ form_errors(registrationForm) }}
                        <div class="mb-3">
                            {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                            <div class="input-group">
                                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {{ form_help(registrationForm.email) }}
                            {{ form_errors(registrationForm.email) }}
                        </div>
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms) }}

                        <div class="d-flex">
                            <button type="submit" class="btn">Register</button>
                            <div class="d-flex align-items-center ms-3">
                                <a href="/login"> Already have an account? </a>
                            </div>

                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
